
/* Texto que se refiere a código de programación. */



/* Pulsaciones de teclas y atajos de teclado (shortcuts) */
kbd {
    /*font-family: "Noto Sans", sans-serif;*/
    font-size: 0.9rem;
    font-style: italic;
    border: 1px solid gray;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 4px;
    box-shadow: 2px 2px gray;

    margin-left: 2px;
    margin-right: 4px;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    scrollbar-gutter: stable;

    /* Barra sutil para hacer ver que el código se sale del ancho de la pantalla. */
    border-right: 1px solid #4a4646;
}

code {
    font-family: var(--code-font);
    /* font-size: 78%; Para Libertinus Font */
    font-size: var(--code-font-size);
    white-space: pre;
}

pre code {
    display: block;
    /*min-width: 120%;*/
}


/* Ligeras variaciones al tema Zenburn (oscuro) para listados de código. */
div.sourceCode,
pre,
code {
    color: var(--code-fg-color);
    background: var(--code-bg-color);
}

pre.sourceCode a {
    text-decoration: none;
}


pre.sourceCode a:after {
    content: "";
}








/* Scrollbar horizontal en listados de código */

/* Para Firefox */
pre {
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #888;
}

/* Para basados en WebKit */
pre::-webkit-scrollbar {
    height: 2px;
}

pre::-webkit-scrollbar-track {
    background: #888;
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--main-fg-color);
    /*background-color: #f1f1f1;*/
}





